<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listagem de usuarios</title>
</head>
<body>
    <h1>Listagem de usuarios</h1>
  <p>
      <a href="/add">Adicionar</a>
  </p>
 
    <table>
        <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> Email </th>
        <th> Senha </th>
        <th> Foto </th>
        <th> deletar </th>
            </tr>

            <tr>
                <%usuarios.forEach(function(usuario){%>
      <td><%=Usuario._id %></td>
      <td><%=Usuario.nome %></td>
      <td><%=Usuario.email %></td>
      <td><%=Usuario.senha %></td>
      <td><%=Usuario.foto %></td>
      <td>
          <a href="/del/Usuario._id">deletar</a>
      </td>

            </tr>
            <% }) %>
        </table>

        
</body>
</html>